body, html{
   height: 100%;
   
}

body{
    margin:0;
    padding: 0;
    background-image: url("https://tenor.com/es/ver/ring-cool-gif-20389699.gif");
    background-color: #cccccc;
    background-position: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-box{
    width: 300px;
    padding: 40px;
    background: rgba(173, 76, 141, 0.6);
    text-align: center
}
 
.form-title{
    color: white;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid white;
    width: 200px;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus {
    width:280px;
    border-color:rgb(230, 151, 177);
}
 
.form-box button[type="submit"]{
    border: 0;
    background-color: rgb(250, 235, 245);
    color: rgb(199, 80, 109);
    cursor: grab;
    border: 2px solid white;
}

.form-box button[type="submit"]:hover {
    background:none;
    border:none;
    color: azure;
}

.form-box paragraph{
    color:aliceblue;
    font-size: x-small;
}
